table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
a {
    color: #a2160d;
}
p {
    margin-left: 100px;
}
input, textarea {
    width: 130px;
    background-color: #d1d1d1;
}
body {
    background-color: #d3b567;
    font-family: "Times New Roman", Times, serif;
}
h3 {
    padding-left: 280px;
}
h4 {
    padding-left: 175px;
}
#logo {
    margin-left: 35px;
}
.character table {
    width: 330px;
}
.character-personal-details table {
    width: 330px;
}
.character-profile-table table {
    width: 450px;
}
.no-border {
    border: 0;
}
.character-profile-table input{
    width: 30px;
}
.right-side {
    width: 125px;
	text-align: center;
	line-height: 20px;
    /*float: right;*/
    /*margin-right: 880px;*/
    position: absolute;
    left: 360px;
}
.right-side #id_portrait {
    width: 260px;
	height: 340px;
    border: 1px solid black;
}