table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.no-border {
    border: 0;
}
.character-profile-table input{
    width: 26px;
}
.right-side {
    width: 125px;
	height: 275px;
	text-align: center;
	line-height: 20px;
	float: right;
    margin-right: 880px;
}
.right-side #id_portrait {
    width: 260px;
	height: 340px;
    border: 1px solid black;
}