<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>RPG Hero creator - {% block title %}{% endblock %}</title>
    {% block header %}{% endblock %}
    <link rel="shortcut icon" href="#" />
</head>
<body>
        <img src="/static/pictures/logo.gif" alt="Logo" name="logo" id="logo">
        <h4>
        <a href='/'>Main site</a>
        <a href='/warhammer/hero_creation/'>Create a hero</a>
        <a href='/warhammer/heroes/'>Your characters</a>
            {% if user.id == None %}
                <a href='/user_login/'>Login</a>
                <a href='/add_user/'>Register</a>
            {% else %}
                <a href='/user_logout/'>Logout</a>
            {% endif %}
        </h4>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
<div id="footer">
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/warhammer.css' %}" />
</body>
</html>